#verb-input

  .card-content
    display: flex
    flex-direction: column
    justify-content: center

    input
      margin-bottom: 15px

    #common-verbs
      display: flex
      flex-direction: row
      justify-content: center
      flex-wrap: wrap

      button
        margin: 5px