.App
  width: 100vw
  height: 100vh
  padding: 15px
  display: flex
  flex-direction: column
  overflow-x: hidden

  #parameters
    display: grid
    gap: 15px
    grid-template-columns: 1fr 1fr 1fr

    #config-input-card
      grid-column: 1 / 4

  #result
    flex-grow: 1
    min-height: 300px

  @media (max-width: 900px)
    #parameters
      grid-template-columns: 1fr

      #config-input-card
        grid-column: 1
